@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');


* {
    color: white;
}

body {
    background-color: black;
}


h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display SC', serif;
}


/* nav section */
.nav {
    padding: 1rem 1rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* border:1px solid red; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.nav-ele {
    font-family: 'Playfair Display SC', serif;
    color: white;
    flex: 1;
    text-align: center;
}

.nav-ele:first-child {
    text-align: left;
}

.nav-ele:nth-child(2){
    flex:2;
    text-align: center;
}


.nav-ele:last-child {
    text-align: center;
}

.nav-ele a,
.nav-ele-link a {
    color: white;
    padding-left: 1rem;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #EDEAE3; */
    border: 2px solid white;
    min-width: 100px;
}

.dropdown-content a {
    font-family: 'sf';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Add underline animation */
.dropdown-content a::after{
    content: "";
    display: block;
    height: 2px;
    background-color: white;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.dropdown-content a:hover::after{
    width: 100%;
}

.nav-main-contact:hover{
text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-main {
    margin-right: 20px;
}


/* .nav-ele a:hover,
.nav-ele a:focus,
.nav-ele a:active {
    text-decoration: underline;
} */


.nav div:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
}

.nav div:nth-child(3) {
    display: flex;
    /* border: 1px solid red; */
}

.nav-ele-link {
    font-family: 'Playfair Display SC', serif;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.nav-ele-link a {
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
    text-decoration: none;
}

/* .nav-ele-link a:hover,
.nav-ele-link a:focus,
.nav-ele-link a:active {
    text-decoration: underline;
} */

/* end of nav section  */



/* footer section  */
.footer {
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem;
    padding-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* .footer div{
    border: 1px solid red;
} */

.footer-text {
    font-size: 1rem;
}

.footer-link {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.footer-link i {
    padding-left: 1rem;
}

/* end of footer section  */


/* @media screen and (max-width: 600px) {
    .container3 { flex-direction: column; }
    .overview h2 { text-align: center; }
    .backimg {
      padding-top: 12rem;
    padding-bottom: 12rem;}
    .title h1 { max-width: 100px;
    }
} */